body
{
	text-align: center;
	background-image: url("r2.jpg");
	background-repeat: no-repeat;
	font-size:25px;
	font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
}

#title
{
	font-size:30px;
	margin-bottom:45px;
}


p
{
	display: inline-block;
}



#low
{
	margin-top:5%;
	font-size: 16px;

}

#clock
{
	border:solid 1px black;
	border-radius: 100%;
	width:220px;
	height:220px;
	display:inline-block;
	margin-top: 25px;
}

button
{
	background:none;
	border:  2px solid rgb(77, 77, 77);
	border-radius: 5%;
	opacity: 100%;
    -webkit-transition-duration: 0.4s; 
	transition-duration: 0.4s;
	cursor: pointer;
	color:black;
	font-size:20px;
	outline: none;
}



button:focus{
	outline:none;
}

#brl button
{
	border:none;

}

#sl button
{
	border:none;
}

#buttons{
	margin-top:87px;
}


#buttons button
{
	margin-top: 30px;
	height:43PX;
	width :110PX;
	margin: 25px 7px 7px 7px;
}

#w{
	color:rgb(82, 206, 82);
	display: none;
	margin-top: -5px;
	margin-bottom: -3px;
}

#b{
	color:rgb(209, 32, 32);
	display: none;
	margin-top: -5px;
	margin-bottom: -3px;
}

#title{
	font-size:75px;
	color:rgb(29, 29, 29) ;
}


